/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
/* Styles */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
/* Styles */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}



/* Custom font */

@font-face {
	font-family: SpillBeans;
	src: url(Spill___Beans.ttf);
}
/* Header font */

h2 {
	font-family: SpillBeans;
	font-size: 100px;
	color: #FCEBB6;
}

h3 {
	font-family: SpillBeans;
	font-size: 40px;
	color:#F07818;
	
}

h4	{
	font-family: SpillBeans;
	font-size: 75px;
	color: #78C0a8;
}


h5,h6, h1 {
	font-family: SpillBeans;
	font-size: 65px;
	color:#F07818;
	text-align: center;
	
}

/* Paragraph text */

p {
	font-family: SpillBeans;
	font-size: 35px;
	word-wrap: break-word;
	text-indent: 15px;
	text-align: center;
}

/* Nav bar */

#menulink {

 position: absolute;
 float:left;
 clear:both;
 left: -20px;
 top: 150px;
}

ul {
	list-style-type: none;
}


/* Header */

#logo-container img {
	margin: auto auto;
   width: 80%;
   height: 600px;
   float: center;
   position: relative;
   left: 180px;
   right: 180px;
   border: solid 5px #F07818;
   border-radius: 190px;
   padding: 10px 10px 10px 10px;
   background-color: #78C0a8;
}


/* Body contents */	

body {	
		
		color: #5E412F;
		font-size: 20px;
		font-family: SpillBeans;
	    background-color: #5E412F;
		height: auto;
		}



.recipes {
	top: -35px;
    height : auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
	border-radius: 75px;
	float: right;
	border: solid 5px #F07818;
	left: -400;
	position: relative;

}

.recipes2 {
	margin-top: 40px;
	margin-bottom: 50px;
    height : auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
	border-radius: 75px;
	float: right;
	border: solid 5px #F07818;
	left: -400;
	position: relative;
}	


.floatcenter {
	display: block;
	margin:auto auto;
	margin-bottom: 25px;
	position: relative;
	height : auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
	border-radius: 75px;
	border: solid 5px #F07818;

}	

.body-outer {
	position: relative;
	margin: auto auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 75%;
	height: auto;
	background-color: #78C0a8;
	border: solid 5px #F07818;
	border-radius: 45px;
	overflow: auto;
	padding-right: 40px;
	
}

.body-inner {
	height : auto;
    width: 100%;
	position: relative;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 20px;
	background-color: #F07818;
	border-radius: 75px;
	border: solid 4px #5E412F;
	word-wrap: break-word;

}


dt,dd {
	font-size: 35px;
	margin-left: 25px;
	margin-right: 25px;
}


/* Footer */

.footer
{
margin: auto auto;	
font-size: 20px;
text-align: center;
position:;
width: 75%;
background-color: #78C0a8;
border:5px solid #F07818;
border-radius: 40px;
padding-top: 15px;
padding-bottom: 15px;
}

/* Image gallery */

.hoverbox
{
	cursor: hand;
	list-style: none;
	overflow: auto;
	padding-bottom: 75px;
	padding-top: 50px;

}

.hoverbox a
{
	cursor: hand;
}

.hoverbox a .preview
{
	display: none;
	

}

.hoverbox a:hover .preview
{
	display: block;	
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
	
}	

.hoverbox img
{
	background: #fff;
	border-color: #5E412F #F07818 #78C0a8 #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 225px;
	height: 150px;
}

.hoverbox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
	left:45px;
	
}

.hoverbox .preview
{
	border-color: #000;
	width: 325px;
	height: 250px;
}

/* contact form */

.dark-matter {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background: #5E412F;
    padding: 20px 30px 20px 30px;
    font: 20px "SpillBeans", Helvetica, Arial, sans-serif;
    color: #F07818;
    text-shadow: 1px 1px 1px #000;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.dark-matter h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 3px solid #78C0a8;
    margin: -10px -30px 30px -30px;
    text-align: center;
}
.dark-matter h1>span {
    display: block;
    font-size: 18px;
    text-align: center;
}
.dark-matter label {
    display: block;
    margin: 0px 0px 5px;
}
.dark-matter label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter textarea, .dark-matter select {
    border: none;
    color: #5E412F;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
    font-family: SpillBeans;
    font-size: 14px;
}
.dark-matter select {
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}
.dark-matter textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.dark-matter .button {
    background: #F07818;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #5E412F;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #000000;
    -webkit-box-shadow:1px 1px 1px #000000;
    -moz-box-shadow:1px 1px 1px #000000;

}

.dark-matter .button:hover {
    color: #333;
    background-color: #F0A830;
}
